/amcl:
  ros__parameters:
    use_sim_time: true
    odom_frame_id: "odom"
    base_frame_id: "base_footprint"
    global_frame_id: "map"
    scan_topic: "/scan"
    laser_min_range: 0.12
    laser_max_range: 3.5
